<!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar">                 
          <div class="row">
              <div class="col-xs-6 col-sm-4 headerLogo"><i>Shoppy</i></div>             
              <div class="clearfix visible-xs-block">This is a Header Center</div>
              <div class="col-xs-6 col-sm-4 checkout"><span class="glyphicon glyphicon-shopping-cart checkoutBtn" aria-hidden="true"></span></div>
          </div>
      </div>      
    </div>
  </div>